* {
	box-sizing: border-box
}
.wrap {
	width: 80%;
	margin: 50px auto;
	overflow: hidden;
}
.question-wrap {
	overflow: hidden;
}
.title {
	width: 100%;
	text-align: center;
	font-size: 36px;
	margin-bottom: 50px;
}
.cauhoi {
	width: 33.33%;
	float: left;
	text-align: center;
	padding: 10px;
}
.dapan {
	border: 1px solid black;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #13A7FF;
}
.name {
	border: 1px solid black;
	padding: 20px;
	font-size: 18px;
	margin-bottom: 10px;
	background-color: #FF3C32;
}
input {
	padding: 10px;
	margin-bottom: 10px;
	width: 60%;
	border: 1px solid black;
	border-radius: 5px;	
	float: right;
}
span {
	padding: 10px;
	margin-bottom: 10px;
	display: block;
	float: left;
	font-size: 18px;
	margin-left: 20px;
}

.submit {
	width: 100%;
	margin: auto;
	padding: 20px;
}
button {
	padding: 10px;
	background-color: #A48E2B;
	margin: auto;
	display: block;
	margin-top: 40px;
	font-size: 20px;
	color: #0B0852;
	text-transform: uppercase;
}

.abc {
	background-color: #FF4189;
	color: #12FF24;
	border: 1px solid black;
	padding: 10px;
	margin-bottom: 10px;
}















